body{
    background-color: rgb(187, 167, 167);
}
#col{
    width: 100%;
    background-color: green;
    background-image: url(../../assets/images/IMG-20210529-WA0008.jpg);
}

.produit{
    position: absolute;;
    display: block;
    background-color: darkgray;
    
}
h2{
    color: black;
}

#blog{
    background-image: url(../../assets/images/viande_1.jpg);
}