
<body>
    <carousel>
        <div class="row">
            <slide>
                <img src="../../assets/icons/viande_2.jpg" alt="first slide">
                <div class="carousel-caption d-none d-md-block">
                    <h1>La qualité de chez nous</h1>
                    <p>du moins passer votre commande et faite vous livrer</p>
                </div>
            </slide>
            <slide>
                <img src="../../assets/icons/viande_4.jpg" alt="second slide">
            </slide>
            <slide>
                <img src="../../assets/icons/viande_3.jpg" alt="">
            </slide>
        </div>
    </carousel><br><br><br>
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6" >
                    <div class="card card-stats" id="blog" >
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">store</i>
                            </div>
                        </div>
                        <div class="card-footer">
                                <h2>En Stock:</h2>
                                <h2>Désignation: </h2>    
                                <h3>8000 xaf</h3>
                                <button class="btn btn-primary">Ajouter au panier</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6" >
                    <div class="card card-stats" id="blog" >
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">store</i>
                            </div>
                        </div>
                        <div class="card-footer">
                                <h2>En Stock:</h2>
                                <h2>Désignation: </h2>    
                                <h3>7000 xaf</h3>
                                <button class="btn btn-primary">Ajouter au panier</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6" >
                    <div class="card card-stats" id="blog" >
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">store</i>
                            </div>
                        </div>
                        <div class="card-footer">
                                <h2>En Stock:</h2>
                                <h2>Désignation: </h2>   
                                <h3>5000 xaf</h3>
                                <button class="btn btn-primary">Ajouter au panier</button>
                        </div>
                    </div>
                </div>

            </div> <br>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6" >
                    <div class="card card-stats" id="blog" >
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">store</i>
                            </div>
                        </div>
                        <div class="card-footer">
                                <h2>En Stock:</h2>
                                <h2>Désignation: </h2>   
                                <h3>5000 xaf</h3>
                                <button class="btn btn-primary">Ajouter au panier</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6" >
                    <div class="card card-stats" id="blog" >
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">store</i>
                            </div>
                        </div>
                        <div class="card-footer">
                                <h2>En Stock:</h2>
                                <h2>Désignation: </h2>    
                                <h3>8500 xaf</h3>
                                <button class="btn btn-primary">Ajouter au panier</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6" >
                    <div class="card card-stats" id="blog" >
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">store</i>
                            </div>
                        </div>
                        <div class="card-footer">
                                <h2>En Stock:</h2>
                                <h2>Désignation: </h2>   
                                <h3>3000 xaf</h3>
                                <button class="btn btn-primary">Ajouter au panier</button>
                        </div>
                    </div>
                </div>
            </div><br>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6" >
                    <div class="card card-stats" id="blog" >
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">store</i>
                            </div>
                        </div>
                        <div class="card-footer">
                                <h2>En Stock:</h2>
                                <h2>Désignation: </h2>   
                                <h3>6000 xaf</h3>
                                <button class="btn btn-primary">Ajouter au panier</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6" >
                    <div class="card card-stats" id="blog" >
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">store</i>
                            </div>
                        </div>
                        <div class="card-footer">
                                <h2>En Stock:</h2>
                                <h2>Désignation: </h2>    
                                <h3>2000 xaf</h3>
                                <button class="btn btn-primary">Ajouter au panier</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6" >
                    <div class="card card-stats" id="blog" >
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">store</i>
                            </div>
                        </div>
                        <div class="card-footer">
                                <h2>En Stock:</h2>
                                <h2>Désignation: </h2>    
                                <h3>1500 xaf</h3>
                                <button class="btn btn-primary">Ajouter au panier</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>