<div class="main-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4>Panier</h4>
                    </div>
                    <p class="card-category">Vous pouvez poursuivre la commande</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <th>
                            ID
                        </th>
                        <th>
                            article
                        </th>
                        <th>
                            description
                        </th>
                        <th>
                            Quantité
                        </th>
                        <th>
                            Prix unitaire
                        </th>
                        <th>
                            Action
                        </th>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>